<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title|title }}</title>
</head>
<body>
{% for product in products %}
    <h3>{{ product.name }} - {{ product.price }}</h3>
{% endfor %}
{% if promotion %}
    <h2 style="color:  red">Акция!</h2>
    {% for promoyion_product in promotion_products %}
        <h3>{{ promoyion_product.name }} - {{ promoyion_product.price }}</h3>
    {% endfor %}
{% endif %}
</body>
</html>