{% extends 'ordersapp/base.html' %}
{% load static %}

{% block content %}
    <div style="width: 65%; margin: auto; padding: 70px 0 0 0 ">
        <div class="category_delete">
            <div class="h1">Уверены, что хотите удалить?</div>
            {% include 'ordersapp/includes/inc_order_summary.html' %}
            <form action="{% url 'order:order_delete' object.pk %}" method="post">
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="удалить" style="margin-bottom: 20px">
            </form>
            <button class="btn btn-success">
                <a href="{% url 'order:orders' %}" style="color: white">отмена</a>
            </button>
        </div>
    </div>

{% endblock %}